include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | iGEM MIT_MAHE
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        h1 Meet the Team

    main
      .container
        h2 Our Mentors
        .row.d-flex.justify-content-center
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Ritu.png')['default'])

                .card-body
                  h5.card-title Dr. Ritu Raval
                  p.card-text Principal Investigator
              .theback
                .card-body
                  h5.card-title Principal Investigator
                  p.card-text Dr. Ritu Raval has been a pillar of support for the team throughout the season. We are a first time iGEM Team and her support enabled us to push ourselves harder and harder. She was also always very helpful with all her insights on our project.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Praveen.png')['default'])

                .card-body
                  h5.card-title Dr. Praveen Kumar
                  p.card-text Secondary PI
              .theback
                .card-body
                  h5.card-title Secondary PI
                  p.card-text Dr. Praveen Kumar was one of the earliest supporters of our project and he always inspired us all to look beyond what the course taught us. The team has come to appreciate the complexity of biological organisms - thanks to him.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Ugne.png')['default'])

                .card-body
                  h5.card-title Ugne Baronaite
                  p.card-text iGEM Mentor
              .theback
                .card-body
                  h5.card-title iGEM Mentor
                  p.card-text Being a first time iGEM team isn't easy, or so we thought before we met Ugne. She passed down her experience to the team and it felt like we have already participated in a previous edition. She was always enthusiastic and super helpful to the team.         
      .container
        h2 Our Team
        .row.d-flex.justify-content-center
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Aayush.png')['default'])

                .card-body
                  h5.card-title Aayush Panday
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Aayush Panday
                  p.card-text A dealer in hope who keeps calm and is everyone's side arm. Aayush is the mastermind behind our finances and planning. We can safely say - yeh moh maya se parein hai.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Adithi.png')['default'])

                .card-body
                  h5.card-title Adithi Somayaji
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Adithi Beejady Somayaji
                  p.card-text Adithi is always up for work and also ends up doing things which she wasn't even assigned to do so. She might be the definition of a workaholic. Adithi's usually at home during the weekend, baking and beautifully decorating her desserts.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Aniket.png')['default'])

                .card-body
                  h5.card-title Aniket Naik
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Aniket Samit Naik
                  p.card-text Aniket can be considered a philomath, he absolutely enjoys learning new things. Aniket likes asking iGEM doubts during class, just to flex a little - harmless. Research and chill!
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Ankur.png')['default'])

                .card-body
                  h5.card-title Ankur Chatterjee
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Ankur Chatterjee
                  p.card-text If you've got a quirky sense of humour, Ankur is your go-to guy for memes. You can catch him roller-skating to class, probably the only one in Manipal to do so.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Anushka.png')['default'])

                .card-body
                  h5.card-title Anushka Jain
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Anushka Vikas Jain
                  p.card-text A very positive person, she does everything to the best of her abilities with a smile on her face. Anushka is always helpful with all the inputs she gives for all sorts of work.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Apoorva.png')['default'])

                .card-body
                  h5.card-title Apoorva Kapadia
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Apoorva Hitesh Kapadia
                  p.card-text A complete team player, he is passionate about learning new things and loves volunteering for social causes. His hostel room is full of Gujarati snacks, yet he doesn't share - we all wonder where it goes.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Bhumika.png')['default'])

                .card-body
                  h5.card-title Bhumika Narang
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Bhumika Narang
                  p.card-text  Passionate and hardworking, Bhumika loves to work with her teammates till the end of the road. She also loves volunteering for social causes and you can find her at an orphanage or a special school almost every weekend.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Lavanya.png')['default'])

                .card-body
                  h5.card-title Lavanya Karinje
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Lavanya Neelakanta Karinje
                  p.card-text Lavanya's the jack of all trades. During our college fests, you can spot her taking photographs and working on creative projects. One can almost always find her in the kitchen, cooking fancy dishes for her family.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Naman.png')['default'])

                .card-body
                  h5.card-title Naman Kapoor
                  p.card-text Graphics and Media
              .theback
                .card-body
                  h5.card-title Naman Kapoor
                  p.card-text An interleaved package of innovative ideas, creativity, and a passion for perfection. Naman is known for putting in extraordinary efforts to bring ideas to life.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Niyati.png')['default'])

                .card-body
                  h5.card-title Niyati Sanghvi
                  p.card-text Management Head
              .theback
                .card-body
                  h5.card-title Niyati Mahendra Sanghvi
                  p.card-text Niyati makes sure work is done on time and everything is accounted for. She's the only one who has it in her to fire the team leader if need be. Powerpoint? Tch, she's too cool for it.

          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Pavithra.png')['default'])

                .card-body
                  h5.card-title Pavithra Sathyan
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Pavithra Sathyan
                  p.card-text Pavithra works relentlessly to make sure things are completed. She has the power to motivate anyone, and can cheer us up when we're feeling low. She can be extremely quiet, but when she does speak up and ask doubts, she gets all of our brains thinking.

          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Pradyumna.png')['default'])

                .card-body
                  h5.card-title Pradyumna Iyengar
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Pradyumna Shyam Iyengar
                  p.card-text Pradyumna needs to tell us how and why he has a desktop in his hostel room. He's one of the smartest in our team and can do anything he puts his mind to. He loves football and beaches and you'll always spot him wearing sport clothing.

          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Raksha.png')['default'])

                .card-body
                  h5.card-title Raksha Nayak
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Raksha Rakesh Nayak
                  p.card-text She's a hardworking individual, who gels with the rest of us very easily. She has a vast array of talents and can often finish large tasks single-handedly and quite effortlessly.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Sanya.png')['default'])

                .card-body
                  h5.card-title Sanya Lakhotia
                  p.card-text Graphics and Media Head
              .theback
                .card-body
                  h5.card-title Sanya Lakhotia
                  p.card-text Sanya is God's blessing to the team. She can light up any room, has the voice of an angel and can play ukulele. She loves to dance when she's stressed. She has confidence which inspires us all, and makes Wai-Wai and Stir Fry that everyone loves.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Shameshwar.png')['default'])

                .card-body
                  h5.card-title Shameshwar M.
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Naidu Shameshwar Muralidarran
                  p.card-text He is kind and shy, and is always ready to lend a hand in times of need. He also makes a fantastic gajar ka halwa (popular Indian dessert). Our NCC Cadet here knows how to shoot a rifle well, be careful!
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Shravan.png')['default'])

                .card-body
                  h5.card-title Shravan B.
                  p.card-text Wet Lab Head
              .theback
                .card-body
                  h5.card-title Shravan Balasubramaniam
                  p.card-text When you talk to Shravan for the first time, you're bound to feel welcome, and know that you've made a new friend. He's very approachable, and he appreciates even the smallest contribution that's made.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Soumodeep.png')['default'])

                .card-body
                  h5.card-title Soumodeep Sarkar
                  p.card-text Research Head
              .theback
                .card-body
                  h5.card-title Soumodeep Sarkar
                  p.card-text Soumodeep is Varun's right hand man, and any outsider will probably assume that he's the leader. He's an all-rounder, right from his amazing writing skills to his management abilities. The word ‘no' doesn't exist in his vocabulary - he's always ready to lend a helping hand.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Urvi.png')['default'])

                .card-body
                  h5.card-title Urvi Gupta
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Urvi Gupta
                  p.card-text The ideal Ravenclaw, Urvi values intelligence, wisdom and wit. She also loves eagles! She is also really artistic and you can find her room filled with beautiful paintings.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Utkarsh.png')['default'])

                .card-body
                  h5.card-title Utkarsh Mohan
                  p.card-text Graphics and Media
              .theback
                .card-body
                  h5.card-title Utkarsh Mohan
                  p.card-text Utkarsh could very well be Adobe's brand ambassador with his personal arsenal of Adobe's Creative Cloud products. He even knows how to use all of them! He loves music and art, and his laptop shows.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Vaishnavi.png')['default'])

                .card-body
                  h5.card-title Vaishnavi Chavan
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Vaishnavi Chavan
                  p.card-text She's the person you can find in a cozy corner of the room, quietly reading books with a cat on her lap. She also secretly joined Cell Biology classes with the biotech class - being a computer science engineer herself.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Varun.png')['default'])

                .card-body
                  h5.card-title Varun Udaya Kumar
                  p.card-text Team Leader
              .theback
                .card-body
                  h5.card-title Varun Udaya Kumar
                  p.card-text Team Leader and the pillar of our group, he designs our experiments and Bio-Bricks. He's very quiet and shy, but internally? He's sassier than you can imagine. He is also an incurable prankster.

    include ../templates/footer.pug
