include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | iGEM MIT_MAHE
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        h1 Meet the Team

    main
      .container
        h2 Our Mentors
        .row.d-flex.justify-content-center
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--member.jpeg')['default'])

                .card-body
                  h5.card-title Dr. Ritu Raval
                  p.card-text Principal Investigator
              .theback
                .card-body
                  h5.card-title Principal Investigator
                  p.card-text She's the best honestly
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--member.jpeg')['default'])

                .card-body
                  h5.card-title Dr. Praveen Kumar
                  p.card-text Secondary PI
              .theback
                .card-body
                  h5.card-title Secondary PI
                  p.card-text No cancer? how??
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--member.jpeg')['default'])

                .card-body
                  h5.card-title Ugne Baronaite
                  p.card-text iGEM Mentor
              .theback
                .card-body
                  h5.card-title iGEM Mentor
                  p.card-text Flameo hotman         
      .container
        h2 Our Team
        .row.d-flex.justify-content-center0
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Aayush.png')['default'])

                .card-body
                  h5.card-title Aayush Panday
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Aayush Panday
                  p.card-text A dealer in hope who keeps calm and is everyone's side arm. Aayush is the mastermind behind our finances and planning. We can safely say - yeh moh maya se parein hai.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Adithi.png')['default'])

                .card-body
                  h5.card-title Adithi Somayaji
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Adithi Beejady Somayaji
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Aniket.png')['default'])

                .card-body
                  h5.card-title Aniket Naik
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Aniket Samit Naik
                  p.card-text Aniket can be considered a philomath, he absolutely enjoys learning new things. Aniket likes asking iGEM doubts during class, just to flex a little - harmless. Research and chill!
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Ankur.png')['default'])

                .card-body
                  h5.card-title Ankur Chatterjee
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Ankur Chatterjee
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Anushka.png')['default'])

                .card-body
                  h5.card-title Anushka Jain
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Anushka Vikas Jain
                  p.card-text A very positive person, she does everything to the best of her abilities with a smile on her face. Anushka is always helpful with all the inputs she gives for all sorts of work.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Apoorva.png')['default'])

                .card-body
                  h5.card-title Apoorva Kapadia
                  p.card-text Management
              .theback
                .card-body
                  h5.card-title Apoorva Hitesh Kapadia
                  p.card-text A complete team player, he is passionate about learning new things and loves volunteering for social causes. His hostel room is full of Gujarati snacks, yet he doesn't share - we all wonder where it goes.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Bhumika.png')['default'])

                .card-body
                  h5.card-title Bhumika Narang
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Bhumika Narang
                  p.card-text  Passionate and hardworking, Bhumika loves to work with her teammates till the end of the road. She also loves volunteering for social causes and you can find her at an orphanage or a special school almost every weekend.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Lavanya.png')['default'])

                .card-body
                  h5.card-title Lavanya Karinje
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Lavanya Neelakanta Karinje
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Naman.png')['default'])

                .card-body
                  h5.card-title Naman Kapoor
                  p.card-text Graphics and Media
              .theback
                .card-body
                  h5.card-title Naman Kapoor
                  p.card-text An interleaved package of innovative ideas, creativity, and a passion for perfection. Naman is known for putting in extraordinary efforts to bring ideas to life.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Niyati.png')['default'])

                .card-body
                  h5.card-title Niyati Sanghvi
                  p.card-text Management Head
              .theback
                .card-body
                  h5.card-title Niyati Mahendra Sanghvi
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Pavithra.png')['default'])

                .card-body
                  h5.card-title Pavithra Sathyan
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Pavithra Sathyan
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Pradyumna.png')['default'])

                .card-body
                  h5.card-title Pradyumna Iyengar
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Pradyumna Shyam Iyengar
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Raksha.png')['default'])

                .card-body
                  h5.card-title Raksha Nayak
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Raksha Rakesh Nayak
                  p.card-text She’s a hardworking individual, who gels with the rest of us very easily. She has a vast array of talents and can often finish large tasks single-handedly and quite effortlessly.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Sanya.png')['default'])

                .card-body
                  h5.card-title Sanya Lakhotia
                  p.card-text Graphics and Media Head
              .theback
                .card-body
                  h5.card-title Sanya Lakhotia
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Shameshwar.png')['default'])

                .card-body
                  h5.card-title Shameshwar M.
                  p.card-text Wet Lab
              .theback
                .card-body
                  h5.card-title Naidu Shameshwar Muralidarran
                  p.card-text He is kind and shy, and is always ready to lend a hand in times of need. He also makes a fantastic gajar ka halwa (popular Indian dessert). Our NCC Cadet here knows how to shoot a rifle well, be careful!
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Shravan.png')['default'])

                .card-body
                  h5.card-title Shravan B.
                  p.card-text Wet Lab Head
              .theback
                .card-body
                  h5.card-title Shravan Balasubramaniam
                  p.card-text Really awesome team member
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Soumodeep.png')['default'])

                .card-body
                  h5.card-title Soumodeep Sarkar
                  p.card-text Research Head
              .theback
                .card-body
                  h5.card-title Soumodeep Sarkar
                  p.card-text meh he's too bossy
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Urvi.png')['default'])

                .card-body
                  h5.card-title Urvi Gupta
                  p.card-text Research
              .theback
                .card-body
                  h5.card-title Urvi Gupta
                  p.card-text The ideal Ravenclaw, Urvi values intelligence, wisdom and wit. She also loves eagles! She is also really artistic and you can find her room filled with beautiful paintings.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Utkarsh.png')['default'])

                .card-body
                  h5.card-title Utkarsh Mohan
                  p.card-text Graphics and Media
              .theback
                .card-body
                  h5.card-title Utkarsh Mohan
                  p.card-text Utkarsh could very well be Adobe's brand ambassador with his personal arsenal of Adobe's Creative Cloud products. He even knows how to use all of them! He loves music and art, and his laptop shows.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Vaishnavi.png')['default'])

                .card-body
                  h5.card-title Vaishnavi Chavan
                  p.card-text Dry Lab
              .theback
                .card-body
                  h5.card-title Vaishnavi Chavan
                  p.card-text She’s the person you can find in a cozy corner of the room, quietly reading books with a cat on her lap. She also secretly joined Cell Biology classes with the biotech class - being a computer science engineer herself.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card
              .thefront
                .card-img-top
                  img(src=require('../assets/img/Team--Varun.png')['default'])

                .card-body
                  h5.card-title Varun Udaya Kumar
                  p.card-text Team Leader
              .theback
                .card-body
                  h5.card-title Varun Udaya Kumar
                  p.card-text The best team leader

    include ../templates/footer.pug
